{% extends 'base.html.twig' %}

{% block title %}SalaDeEventos{% endblock %}

{% block body %}
    <h1>SalaDeEventos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sala_de_evento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sala_de_evento.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ sala_de_evento.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ sala_de_evento.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ sala_de_evento.email }}</td>
            </tr>
            <tr>
                <th>Forma</th>
                <td>{{ sala_de_evento.forma }}</td>
            </tr>
            <tr>
                <th>Filas</th>
                <td>{{ sala_de_evento.filas }}</td>
            </tr>
            <tr>
                <th>Columnas</th>
                <td>{{ sala_de_evento.columnas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sala_de_eventos_index') }}">back to list</a>

    <a href="{{ path('app_sala_de_eventos_edit', {'id': sala_de_evento.id}) }}">edit</a>

    {{ include('sala_de_eventos/_delete_form.html.twig') }}
{% endblock %}
